
.c {
  font-style: bold;
  font-size: 22px;
  text-align: center;
  margin-left: 12em;
  margin-right: 2em;
}

.quote-block {
  height: 200px;
  background: green;
  color: white;
  text-align: center;
}
.quote {
  align-content: center;
  font-size: 2em;
  padding-top: 2em;
  margin-left: 2em;
  margin-right:2em;
}

.links {
  margin-left: 1em;
  font-size: 1.25em;


}
.l {
  float: right;
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border: 2px solid green;
  margin: 1.5em;
  background: green;
  color: : white;
  margin-right: 3.5em;
}

.row {
  margin: 1em;
  height:200px;
  background: silver;
}
.brain {
  float: left;
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 2em;
  padding-right: 3em;
  border: 1em solid white;
  border-left: 2px;
}

.facts {
  padding-top: 2em;
  padding: .25em;
  font-size: 18px;
  color: green;
  margin-left: 20em;

}
